 /* Base Application Styles */
@import './variables'

@font-face
  font-family: 'Gilroy'
  font-style: normal
  src: url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot'); /* IE9 Compat Modes */
  src: local('Gilroy'), local('Gilroy'), url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.svg') format('svg'); /* Legacy iOS */

  @font-face
    font-family: 'Gilroy-bold'
    font-style: normal
    font-weight: 800
    src: url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.eot'); /* IE9 Compat Modes */
    src: local('Gilroy-bold'), local('Gilroy-bold'), url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.eot') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff'), /* Modern Browsers */ url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.svg') format('svg'); /* Legacy iOS */

*
  box-sizing: border-box
  // font-family: 'Gilroy', sans-serif
  font-family: "Montserrat", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html, body
  height: 100%
  margin: 0px
  padding: 0px
body
  min-height: 100%
button
  background: none
  border: none
  outline: none
a
  &, &:visited, &:focus, &:hover
    text-decoration: none
    border-bottom: none
    color: inherit

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content