@import '../../sass/main.sass'

.ApplicationPage
  background: url("../../assets/branding/Application-bg.svg") no-repeat bottom center, $purple-gradient
  min-height: 100vh
  height: 100%
  display: flex
  padding: 20px
  &__form-container
    width: 100%
    max-width: 1440px
    margin: auto
    border-radius: 20px
    padding-bottom: 80px
    margin-bottom: 500px
  &__header
    text-align: center
  &__title
    font-size: 30px
    font-weight: 800
    font-style: italic
    letter-spacing: 1.3px
    margin-bottom: 15px
    @media(min-width: $tablet-width)
      font-size: 48px
  &__sub-title
    margin-bottom: 10px
    font-size: 20px
  .SignUpForm
    @media(min-width: 752px)
      width: 55%
