@import '../../sass/main.sass'

.ApplicationForm
  padding: 10px
  width: 100%
  &__information
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    grid-template-rows: repeat(10, 1fr)
    grid-auto-rows: min-content
  &__section-title
    font-weight: 600
    font-size: 20px
    margin-bottom: 25px
    align-self: center
    justify-self: center
  &__input label,&__dropdown label, &__searchable-dropdown label, &__file label
    font-weight: 400
    margin-bottom: 6px
    display: block
    text-transform: capitalize
  &__input input, &__dropdown select, &__searchable-dropdown
    background: transparent 
    background-position: right center
    border: none
    width: 100%
    border: 2px solid $blue
    border-radius: 6px
    color: $grey
    font-weight: 500
    margin-bottom: 20px
    padding: 10px
  &__input input::placeholder
    color: $grey
    margin-top: 0px
  &__file
    margin-bottom: 23px
  &__error
    text-align: center
    height: 20px
    font-size: 16px
    color: red
    font-weight: 400
  &__btn-container
    padding-top: 10px
    display: flex
    justify-content: space-between
  &__btn-container button
    cursor: pointer
    width: 45%
    border-radius: 25px
    padding: 15px 20px
    color: #fff
    font-weight: 700
    font-size: 20px
    letter-spacing: 1.2px
  &__submit-btn
    border: none
    background: linear-gradient(80deg,#0ad2df,#f605fe)
  &__return-btn
    background: none
    border: 2px solid $blue
  &__status
    margin-top: 35px
    text-align: center
    color: red
  &__status .LoaderBalls
    margin: auto

.firstName
  grid-column: 1 / -1
  grid-row: 2 / 3

.lastName
  grid-column: 1 / -1
  grid-row: 3 / 4

.email
  grid-column: 1 / -1
  grid-row: 4 / 5

.dob
  grid-column: 1 / -1
  grid-row: 5 / 6

.gender
  grid-column: 1 / -1
  grid-row: 6 / 7

.race
  grid-column: 1 / -1
  grid-row: 7 / 8

.phoneNumber
  grid-column: 1 / -1
  grid-row: 8 / 9

.state
  grid-column: 1 / -1
  grid-row: 9 / 10

.country
  grid-column: 1 / -1
  grid-row: 10 / -1